<!-- 
    this is to import the bootstrap package, 
    please import it in any page you want to use boostrap

    for more info: https://getbootstrap.com/
 -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous"
/>
<!-- 
    this is just a ready to use navbar.
    please check https://getbootstrap.com/docs/5.0/components/navbar/ for more info
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/hospitals">Hospitals</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/rooms">All Rooms</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/doctor">All Doctors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/patient">All Patients</a>
				</li>
					<li class="nav-item">
					<a class="nav-link" href="/diagnosis">Patient Diagnosis</a>
				</li>
					<li class="nav-item">
					<a class="nav-link" href="/bill">Bill</a>
				</li>
			</ul>
		</div>
	</div>
</nav>



<div class="hero-image">
	<h1>Welcome</h1>
</div>

</div>
	<br />
<div class="container">
	<div class="jumbotron">
	<h1 class="display-4">A CSCI-404 Project</h1>
	<p class="lead">Done by Hesham Atef, Sandra Ezzat Rezk,Nada Tamer, Abdelrahman Nasser And BahaaEldin Maher .</p>
	<hr class="my-4">
	</div>
</div>


<style>
.hero-image {
	background-image: url("/images/hero-image.png");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
    align-items: center;
}
.hero-image h1{
	font-size: 120px;
	font-weight: bold;
	color: white;
	font-family: 'Dancing Script', cursive;
}
</style>